.Detail{
    margin: 1em 0;
    min-height: 100vh;
}

.gifContainer{
    width: 100%;
}

.detailImage{
    border-radius: 16px;
    width: 80vw;
    height: auto;
}

.detailRow{
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nameRow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.verified{
    width: 1em;
    margin-left: 0.2em;
}

.instagram{
    width: 2em;
    cursor: pointer;
    margin: 1em 0 0 0;
}

.share{
    margin-left: 10px;
}

.instagram:hover, .socialSide img:hover{
    animation: shake 0.95s cubic-bezier(.36,.07,.19,.17) both;
    transform: translate3d(0, 0, 0);
}

.detailUserImage{
    border-radius: 16px;
    width: 100%;
    height: auto;
}

.detailUserImageContainer{
    margin: 70px 0 0 0;
    width: 8em;
}

.socialSide{
    width: 100%;
    margin: 10px 0;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.socialSide svg{
    cursor: pointer;
    width: 34px;
    height: 34px;
}

.detailUserImageContainer p{
    margin: 0;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-4px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
  }
}

@media (min-width: 470px) {
    .socialSide{
        margin: 10px 0 0 0;
    }
}

@media (min-width: 768px) {
    .detailRow{
        flex-direction: row;
        align-items: unset;
    }

    .detailUserImageContainer{
        margin: 70px 0px 0 0;
        width: 8em;
    }

    .detailImage{
        width: 50vw;
    }

    .gifContainer{
        width: 65vw;
    }
}